<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duck.room.mapper.InfoMapper">

<select id="getPrice" resultType="com.duck.room.dto.InfoPrice">
	SELECT * FROM offering_kind WHERE o_id=#{o_id}
</select>

</mapper>