@charset "UTF-8";
	
	body {
	    font-family: NanumGothic, sans-serif;
	}
	
	#header { 
	    border-bottom: 1px solid rgb(229, 229, 229);
	    position: sticky;
	}
	
	#content_area {
	    border-bottom: 1px solid rgb(229, 229, 229);
	}
	
	b {
	    font-weight: 700;
	}
	
	.p1 {
	    letter-spacing: -0.5px;
	}
	
	.p2 {
	    font-size: 14px;
	}
	
	.p3 {
	    font-size: 14px;
	}
	
	.ul1 {
	    list-style: decimal;
	    margin: 5px 0px 10px;
	    padding-left: 15px;
	    line-height: 24px;
	}
	
	.ul2 {
	    list-style:square;
	    line-height: 24px;
	    padding-left: 20px;
	}
	
	.ul3 {
	    list-style: none;
	    margin: 5px 0px 10px;
	    padding-left: 15px;
	    line-height: 24px;
	}
	
	.ul1,.ul2,.ul3 > li {
	    line-height: 24px;
	    font-size: 14px;
	}