
@charset "UTF-8";

* {
	box-sizing: border-box;
}

#small {
	font-size: 9px;
}

li {
	display: block;
	float: left;
	width: 150px;
}

/* li:hover {
	color: white;
	background-color: red;
} */

span {
	color:black;
	line-height: 1.53;
	font-size: 20px;
}
         
#logo {
	color: yellow;
}

/* #logo:hover {
	color: red;
} */

.sub_menu {
	visibility: hidden;
	/*border: 1px solid red;*/
	font-size: 10px;
}

#my_div {
	background: green;
	height: 100px;
	width: 100px;
}