@charset "UTF-8";
#map {
  height: 845px;
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map_searchBar {
	position: absolute;
    left: 30px;
    top: 110px;
    z-index: 1;
    width: 360px;
    display: inline-flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    max-height: calc(100% - 40px);
}

.map_searchWrap{
	position: relative;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    font-size: 12px;
}

.map_selectWrap{
	display: flex;
}

.map_inputLiner{
	flex: 1 1 0%;
    border: 1px solid rgb(250, 136, 11);
    border-radius: 4px;
    overflow: hidden;
    height: 30px;
    vertical-align: top;
    box-sizing: border-box;
}

.map_input-wrap{
	float: left;
    width: 285px;
    padding: 0px 10px;
    position: relative;
    overflow: hidden;
}

.map_input-wrap > input {
	width: 100%;
    height: 27px;
    border: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    font-size: 13px;
}

.map_search-wrap {
	float: right;
    background-color: rgb(250, 136, 11);
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.map_search-btn{
    width: 30px;
    height: 30px;
    background: url(https://s.zigbang.com/www/images/ic_title_searchbar_30x30_nor_white.png) center center / 100% no-repeat transparent;
    border: 1px solid rgb(250, 136, 11);
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}


#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}
