@charset "UTF-8";
#price_content {
    /*
    border: 1px solid red;
    */
    align-items:center;

}


#payment_table {
    margin: 30px auto 0px;
    width: 850px;
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
} 

#payment_table > thead > tr > th{
    border-bottom: 1px solid rgb(238, 238, 238);
    height:50px;
    line-height: 50px;
    font-size:15px;
}

#payment_table > tr {
    border-bottom: 1px solid rgb(238, 238, 238);
}

#payment_table > tbody > tr > td {
    padding-top: 20px;
    padding-bottom: 27px;
    vertical-align: top;
    text-align:center;
}

#payment_table > thead > tr > th + th {
    border-left: 1px solid rgb(231, 231, 231);
}

#payment_table > tbody > tr > td + td {
    border-left: 1px solid rgb(231, 231, 231);
}

#payment_table > tbody > tr > td > div + div {
    border-top: 1px dashed rgb(201, 201, 201);
}
/*
.payment_table > tr > th,td {
    border: violet 1px solid;
}
*/
#special {
    padding: 0px 30px;
}

#room_payment_h1 {
    text-align: center;
    line-height: 41px;
    font-size:25px;
}


#price_month {
    display:flex;
    margin: 30px auto 0px;
    max-width: 850px;
    border:1px solid rgb(20, 118, 252);
    height:140px;
    border-radius: 4px;
}

#price_month > #inner {
    display:flex;
    margin: 40px 55px 30px;
    height: 70px;
}
#price_month > #inner > p {
    flex-shrink: 0;
    width:200px;
    font-size:20px;
    color:rgb(20, 118, 252);
    margin-top: 5px;
}

#price_month > #inner > #payment {
    padding-left:50px;
    color:rgb(20, 118, 252);
    font-size:30px;
    font-weight: bold;
}

#price_month > #inner span {
    font-size:14px;
    color:black;
}

#price_month > #inner #payment2 {
    font-size:10px;
    color:rgb(134, 134, 134);
}
