@charset "UTF-8";

*{
	box-sizing: border-box;
}

#explain_container{
	width: 1005px;
	margin-left: 250px;
}

.explain_info_text{
	height: 60px;
	margin-top: 30px;
	margin-left: 20px;
}

.explain_info{
	display: flex;
	overflow-x: auto;
    white-space: nowrap;
    width: 1000px;
    height: 250px;
}

.explain_info::-webkit-scrollbar {
    width: 10px;
    height: 15px;
  }
.explain_info::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 10px;
  }
.explain_info::-webkit-scrollbar-track {
    background-color: gray;
    width: 100px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

.explain_info > div{
	border: solid 1px gray;
	padding: 30px;
	height: 200px;
	margin-left: 20px;
}

.explain_info > div > h5 {
	color: gray;
}

.explain_info4{
	width: 700px;
	height: 200px;
}

.explain_info4_1{
	display: flex;
}

.explain_info4_1 > div > img{
	width: 2.5rem;
}

.explain_info4_1 > *{
	margin: 20px;
	text-align: center;
}

.explain_info5_1{
	display: flex;
}

.explain_info5 > :nth-child(1){
	margin-top: -15px;
}

.explain_info5_1 > :nth-child(1) > * {
	margin-bottom: 7px;
}

.explain_info5_1 > :nth-child(1) {
	margin-top: 5px;
}

.explain_info5_1 > :nth-child(2) > *{
	margin-bottom: 7px;
	margin-left: 10px;
}

.explain_info5_1 > :nth-child(2) > .one{
	border-radius: 30px;
	background-color: #1aa4e9;
	color: white;
	text-align: right;
	width: 150px;
}

.explain_info5_1 > :nth-child(2) > .two{
	border-radius: 30px;
	background-color: #00994c;
	color: white;
	text-align: right;
	width: 100px;
}

.explain_info5_1 > :nth-child(2) > .apart{
	border-radius: 30px;
	background-color: #b465e9;
	color: white;
	text-align: right;
	width: 50px;
}

.explain_info5_text{
	margin-top: -1px;
	color: gray;
}





